body {
    background-color: #ECE4E3;
}

input, textarea {
    border: 1px solid #cbcbcb;
    padding: 8px 12px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    line-height: 22px;
    font-size: 12px;
    color: #727890;
    letter-spacing: 0.4px;
    box-sizing: border-box;
}

input:focus, textarea:focus {
border: 1px solid transparent;
background-color: #fff!important;
box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
}

.headnav.navbar {
    padding: 0;
    background-color: #ECE4E3;
    height: 96px;
    padding: 0 50px 20px;
    align-items: flex-end;
}

.headnav .navbar-brand {
    display: flex;
}
 
.headnav .navbar-brand img {
    height: 29px;
}

#responsive-navbar-nav {
    display: flex;
    justify-content: space-between;
}

.headnav .navbar-brand div {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #2E2A40;
    margin-left: 20px;
    margin-bottom: -4px;
}

.headnav .navbar-nav {
    margin-left: 88px;
    margin-bottom: 6px;
}

.headnav .navbar-nav #element {
    margin: 0 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.headnav .navbar-nav:nth-child(2) #element {
    margin-right: 0;
}

.headnav .navbar-nav  #element.active {
    text-decoration: underline;
}

.main {
    margin-top: 20px;
}

.checkout {
    margin-top: 20px;
}

.checkout__statusBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cO__sB-each {
    width: 33.34%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sB__each-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 18px;
}

.sB__bar {
    width: 100%;
    border: 2px solid #8173C9;
}

.sB_circle {
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    border: 1px solid #8173C9;
    top: -9px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8173C9;
}

.sB_circle.complete {
    background-color: #fff;
}

.sB_innerCircle {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    border: 1px solid #8173C9;
    background-color: #fff;
}

.sB_innerCircle.complete {
    background-color: #8173C9;
}

/* .sB_innerCircle.complete::after {
    content: "✔";
    display: inline-block;
    font-size: 8px;
    position: absolute;
    top: 3px;
    left: 2px;
} */

.sB_innerCircle.complete svg {
    position: absolute;
    top: 2px;
    left: 2.5px;
    font-size: 10px;
    color: #fff;
}

.checkout_main {
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
}

.checkoutMain__left {
    width: calc(50% - 24px);
}

.checkoutMainLeft-location {
    background: #8979E5;
    border-radius: 12px;
    color: #000;
    padding: 30px 40px;
}

.checkoutLocation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkoutLocationHeader-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.checkoutLocationHeader-button {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.checkoutLocation-address {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.checkoutAddress-text {
    margin-left: 12px;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    width: 100%;
}

.checkoutMainLeft-Contact {
    margin-top: 42px;
    background: #F7F2FF;
    border-radius: 12px;
    padding: 30px 40px;
    color: #000;
}

.checkoutMainContact-header {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.checkoutMainContact-input {
    margin-top: 16px;
}

.checkoutMainContact-input input {
    width: 100%;
}

.checkoutMainLeft_Payment {
    border-radius: 12px;
    color: #000;
    padding: 30px 40px;
    background: #F7F2FF;
    margin-top: 42px;
}

.checkoutMainLeftPayment__header {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 24px;
}

.checkoutMainLeftPayment__eachMethod {
    display: flex;
    margin-bottom: 18px;
}

.paymentMethod_icon {
    border: 2px solid #BBBBBB;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 26px;
    margin-right: 12px;
}

.paymentMethod_icon.selected {
    border: 2px solid #8979e5;
    background: #8979E5;
}

.paymentMethod_icon img {
    height: 16px;
    width: 16px;
}

.paymentMethod_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.checkoutMain__right {
    width: calc(50% - 24px);
}

.checkoutAddress-text input {
    width: 100%;
}

.doc_button {
    margin-top: 20px;
}

button.btn-default {
    background: #8173C9;
    border: none;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .4px;
    padding: 10px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: "Poppins",sans-serif;
    cursor: pointer;
}

.doc_button.address button.btn-default {
    background-color: #fff;
    color: #8173C9;
}

.checkoutLocation-address.inside {
    position: relative;
}

.checkoutLocation-address.inside svg.inside {
    position: absolute;
    left: 6px;
}

.checkoutLocation-address.inside .checkoutAddress-text {
    margin-left: 0;
}

.checkoutLocation-address.inside .checkoutAddress-text input {
    padding-left: 24px;
}

.checkout_cart {
    background: #F7F2FF;
    /* border: 2px solid rgba(137, 121, 229, 0.3); */
    border-radius: 12px;
    padding: 30px 40px;
}

.checkoutCart__vehicle {

}

.checkoutCart_vehicleInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkoutCart_vehicleInfo .vehicleName {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #000;
    display: flex;
    flex-direction: column;
}

.checkoutCart_vehicleInfo .vehicleName .vehicleType {
    font-size: 12px;
    line-height: 15px;
    color: #BBBBBB;
}

.checkout__services {
    margin-top: 24px;
    padding-bottom: 28px;
    border-bottom: 2px solid #BBBBBB;
}

.checkout__services .eachService__cart {
    background: #8173C9;
    border-radius: 12px;
    padding: 12px 20px;
    margin-bottom: 18px;
}

.checkout__services .eachService__cart .eSCart_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout__services .eachService__cart .eSCart_service {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #000;
}

.checkout__services .eachService__cart .eSCart_amount {
    margin-top: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.chekcout__totolAmount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #000;
}

.services_container {
    padding: 30px 50px;
}

.services_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.servicesHeader_services {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    margin: 0 12px;
}

.servicesHeader_icon {
    margin-bottom: 12px;
}

.servicesHeaderServices_each {
    margin-left: 12px;
    border-radius: 8px;
    border: 1px solid #000;
    padding: 8px 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    margin-bottom: 12px;
}

.servicesHeaderServices_each.selected {
    background-color: #000;
    color: #fff;
}

.serviceType_container {
    margin-top: 24px;
}

.sT_title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000;
}

.sT_sericeCardContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.eachServiceCard {
    margin-top: 28px;
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 16px;
    width: 46%;
    transition: width 0.25s linear;
}

.eachServiceCard.moreWidth {
    width: 90%;
}

.eSC_top {
    display: flex;
    justify-content: space-between;
}

.eSCTopRight_title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #000;
}

.eSCTopRight_otherInfo {
    margin-top: 18px;
}

.eSCTROtherInfo_each {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.eSCTROtherInfo_each_circle {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #12C26A;
    color: #fff;
    position: relative;
}

.eSCTROtherInfo_each_circle svg {
    position: absolute;
    top: 2px;
    left: 3px;
    font-size: 10px;
}

.eSCTROtherInfo_each_text {
    margin-left: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000;
}

.eSC_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.eSCB_amount {
    text-align: center;
    width: calc(50% - 16px);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}

.eSCTop__left {
    width: calc(50% - 16px);
}

.eSCTop__left img {
    width: 100%;
    height: 220px;
}

.eSCTop__right {
    width: calc(50% - 36px);
    margin-left: 20px;
}

.doc_button.add_to_cart {
    width: calc(50% - 36px);
    margin-left: 20px;
    margin-top: 0;
}

.serviceAdded_text {
    width: calc(50% - 36px);
    margin-left: 20px;
    color: #8173C9;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.servicesContainer_body {
    display: flex;
}

.servicesContainer_left {
    width: 100%;
    transition: width 0.25s linear;
}

.servicesContainer_left.lessWidth {
    width: calc(84% - 62px);
}

.selectedServicesCart_container {
    width: 0;
    opacity: 0;
    transition: all 0.25s linear;
}

.selectedServicesCart_container.moreWidth {
    margin-top: 24px;
    width: 16%;
    margin-left: 36px;
    position: fixed;
    right: 50px;
    opacity: 1;
}

.selectedService_amount {
    margin-top: 8px;
}

.selectedServicesCart_title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000;
}

.selectedServices_card {
    margin-top: 28px;
}

.selectedService_card {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
}

.selectedService_title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #000;
}

.selectedServices_totalAmount span {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #000;
}

.selectedServicesCart_container.moreWidth a{
    width: 90px;
}